<div class="after-menu container">
  <div class="row">
    <div class="col-md-6">
      <img class="img-rounded picture" src="images/fallen.jpg" alt="Fallen">
    </div>
    <div class="col-md-6">
      <p>The Heritage Society meet monthly to share knowledge, stories and memories of old Ryhope.
      The Society have over 2,500 pictures of former Ryhope dating back to the 19th Century. The
      Heritage Society currently go into Primary Schools within Ryhope to deliver informal education
      about the history of Ryhope. The Ryhope Heritage Society have over 30 active members.</p>
    </div>
  </div>
</div>
