<div class="banner">
  <h1>Welcome to the Ryhope Heritage Society</h1>
  <hr>
  <p>Discover the mysteries of Ryhope through the ages</p>
</div>

<div class="banner-small">
  <h1>Welcome to the Ryhope Heritage Society</h1>
</div>
