/*
*= require_self
*= require_tree
*/

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@import "mixins";
@import "variables";

html, body {
  height:100%;
}

body {
  display: flex;
  flex-flow: column;
}

.main-header, .main-footer {
  flex: 0 1 auto;
}
.main-content {
  flex: 1 1 auto;
  display: flex;
}

hr {
    border-color: $main-color;
    border-width: 3px;
    max-width: 50px;
    margin: 30px auto;
}

.navbar-default {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    @media(min-width:768px) { background-color: transparent; }
    background-color: $menu-backcolor;
    border-color: rgba( $border-color, .3);

    @include transition(.35s);
    text-transform: uppercase;
    font-weight: 700;

    .navbar-brand {
      color: $main-color;
      @media(min-width:768px) { color: rgba( $main-color, .8); }
      &:hover { color: darken($main-color, 10%);}
    }
    .navbar-nav a {
      font-size: 13px;
    }
}
