@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$main-color: #f05f40;
$border-color: lighten(#000, 70%);
$menu-backcolor: #fff;

@mixin transition($seconds) {
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

@mixin background-image($url) {
  background-image:$url;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

html, body {
  height:100%;
}

body {
  display: flex;
  flex-flow: column;
}

.main-header, .main-footer {
  flex: 0 1 auto;
}
.main-content {
  flex: 1 1 auto;
  display: flex;
}

hr {
    border-color: $main-color;
    border-width: 3px;
    max-width: 50px;
    margin: 30px auto;
}

.navbar-default {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    @media(min-width:768px) { background-color: transparent; }
    background-color: $menu-backcolor;
    border-color: rgba( $border-color, .3);

    @include transition(.35s);
    text-transform: uppercase;
    font-weight: 700;

    .navbar-brand {
      color: $main-color;
      @media(min-width:768px) { color: rgba( $main-color, .8); }
      &:hover { color: darken($main-color, 10%);}
    }
    .navbar-nav a {
      font-size: 13px;
    }
}

.banner, .banner-small {
  flex: 1 1 auto;
  @include background-image(url(../images/village-green.jpg));
  text-align: center;
  color: $main-color;
  padding: 80px 60px;
  h1 {
    font-weight: 700;
    font-size: 50px;
  }
  p {
    margin-bottom: 50px;
    font-size: 18px;
  }
}

.banner { display: none; }
@media(min-width:768px) {
  .banner-small { display: none;}
  .banner { display: block;}
}
