@mixin transition($seconds) {
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

@mixin background-image($url) {
  background-image:$url;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
