@import "mixins";
@import "variables";

.banner, .banner-small {
  flex: 1 1 auto;
  @include background-image(url(../images/village-green.jpg));
  text-align: center;
  color: $main-color;
  padding: 80px 60px;
  h1 {
    font-weight: 700;
    font-size: 42px;
  }
  p {
    margin-bottom: 50px;
    font-size: 18px;
  }
}

.banner { display: none; }
@media(min-width:768px) {
  .banner-small { display: none;}
  .banner { display: block;}
}
